<!doctype html>


<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; background-image: url("http://fungyung.com/data/out/2/63203543-aesthetic-wallpapers.png"); opacity: 80% }
        form {vertical-align: top;}
        img {vertical-align: middle; position: relative; margin-right: 15px;}
         .img-holder {    display: inline-block; position: relative;}
         .fa { display: inline-block;}
         .cover {
             margin-bottom: 15px;
         }
         .cover .close {  float: none;
    vertical-align: top;
    margin-left: 20px;
    background-color: gray;
    color: #dc143c;
    opacity: .5;
    margin-top: 5px;
         }

    </style>
</head>
<body>

<div class="navbar">
    <div class = "text-center">
     <a href="/logout" class="btn btn-default btn-sm" style= "width: 150px;">Logout</a>
     <a href= "/create" class = "btn btn-default btn-sm" style = "width: 150px">My Books</a>
     <a href= "/trades" class = "btn btn-default btn-sm" style = "width: 150px">My Trades</a>
     </div>
    <div class="page-header text-center">
        <h1 style = "color: maroon" id = "polls"><span class="fa"></span>Available Books</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->

           
                    
                    
                    <% entries = data.map(function(elem) {
    return '<div class = "cover img-holder"><img src="' + elem.imgUrl + '"/><a><form action = "/reqTrade/' + elem.title + '"><button class = "close">Trade</button></form></a></div>';
}) -%>
<p><%- entries.join("") %></p>

            

    </div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
</body>
</html>
