<!doctype html>


<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; background-image: url("http://fungyung.com/data/out/2/63203543-aesthetic-wallpapers.png"); opacity: 80% }
        h3 { text-align: center; margin-bottom: 10px; }
        form {text-align: center;}
        label {padding-right: 25px; padding-left: 25px; text-size: 40px;}
        .subButton {margin-top: 15px;}
        img {display: block; margin-left: auto; margin-right: auto;}
        
    </style>
</head>
<body>

<div class="navbar">
    <div class = "text-center">
     <a href="/logout" class="btn btn-default btn-sm" style= "width: 150px;">Logout</a>
     <a href= "/create" class = "btn btn-default btn-sm" style = "width: 150px">My Books</a>
     </div>
    <div class="page-header text-center">
        <h1 style = "color: maroon" id = "polls"><span class="fa"></span>Available Books</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->

           
                    
                    
                    <% entries = data.map(function(elem) {
    return '<div class = "well"> <h3>' + elem.title + '</h3><img src="' + elem.imgUrl + '></img></div>';
}) -%>
<p><%- entries.join("") %></p>

            

    </div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
</body>
</html>
