
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; background-image: url("http://fungyung.com/data/out/2/63203543-aesthetic-wallpapers.png"); opacity: 80% }
        form {text-align: center;}
        label {padding-right: 25px; padding-left: 25px; text-size: 40px;}
        .subButton {margin-top: 15px;}
        img {vertical-align: middle; margin-right: 15px;}
         .cover {    display: inline-block; }
         .fa { display: inline-block;}
         .close { float: none; vertical-align: top; margin-left: -20px;color: #dc143c; opacity: .5;}
         figcaption { text-align: center;}

    </style>
</head>
<body>

<div class="navbar">
    <div class = "text-center">
     <a href="/logout" class="btn btn-default btn-sm" style= "width: 150px;">Logout</a>
     <a href= "/create" class = "btn btn-default btn-sm" style = "width: 150px">My Books</a>
     <a href= "/home" class = "btn btn-default btn-sm" style = "width: 150px">All Books</a>
     </div>
    <div class="page-header text-center">
        <h1 style = "color: maroon" id = "polls"><span class="fa"></span>Your Trade Requests</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->

           
                    
                    
                    <% entries1 = outTrades.map(function(elem) {
    return '<div class = "cover"><img src="' + elem.imgUrl + '></img><button class = "close"><i class = "fa"></i></button></div>';
}) -%>
<p><%- entries1.join("") %></p>

            

    </div>
    
    <div class="page-header text-center">
        <h1 style = "color: maroon" id = "polls"><span class="fa"></span>Trade Requests for You</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->

           
                    
                    
                    <% entries = inTrades.map(function(elem) {
    return '<div class = "cover"><img src="' + elem.imgUrl + '></img><button class = "close"><figcaption>' + elem.requests[0] + '</figcaption></button></div>';
}) -%>
<p><%- entries.join("") %></p>

            

    </div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
</body>
</html>
